<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Inicio</title>
    <style>
        body {
            margin-bottom: 5%;  
        }
        .subtitulo {
            text-align: center;
            margin: 5%;
        }
        .botones {
            display: flex;
            justify-content: center;
            gap: 15px;
            margin-top: 20px;
        }
    </style>
</head>
<body class="alert display-1 text-center">
    <div class="alert alert-success display-1 text-center">
        Seminario de Gastronomía
    </div>
    <div class="botones">
        <a href="/autor" class="btn btn-info">Api Autor</a>
        <a href="/api/seminarios/" class="btn btn-info">Api Seminarios</a>
        <a href="/api/instituciones/" class="btn btn-info">Api Instituciones</a>
    </div>

    <div class="botones">
        <a href="/listado" class="btn btn-info">Listar Participantes</a>
        <a href="/instituciones" class="btn btn-info">Lista de Instituciones</a>
    
        
    </div>
    
</body>
</html>
